@{
    ViewData["Title"] = "Home Page";
}

<!-- Content
  ============================================= -->
<div id="content">

    <!-- Send/Request Money
    ============================================= -->
    <section class="hero-wrap section shadow-md pb-4">
        <div class="hero-mask opacity-7 bg-dark"></div>
        <div class="hero-bg" style="background-image:url('images/bg/image-5.jpg');"></div>
        <div class="hero-content py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 my-auto text-center text-lg-left pb-4 pb-lg-0">
                        <h2 class="text-14 font-weight-400 text-white mb-4">
                            The Secure,<br class="d-none d-xl-block">
                            easiest and fastest <br class="d-none d-xl-block">
                            way to transfer money.
                        </h2>
                        <p class="text-4 text-white mb-4">
                            Send & Receive money to your loved ones in minutes with great rates and low
                            fees. Over 180 countries and 30 currencies supported.
                        </p>
                        <a href="#" class="btn-link text-4">See more details<i class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                    <div class="col-lg-6 col-xl-5 my-auto">
                        <ul class="nav nav-tabs nav-justified bg-white style-5 rounded-top" id="myTab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" id="send-money-tab" data-toggle="tab" href="#send-money" role="tab" aria-controls="send-money" aria-selected="true">Send Money</a> </li>
                        </ul>
                        <div class="tab-content p-4 bg-white rounded-bottom" id="myTabContent">
                            <div class="tab-pane fade show active" id="send-money" role="tabpanel" aria-labelledby="send-money-tab">
                                <form id="form-send-money" method="post">
                                    <div class="form-group">
                                        <label for="youSend">You Send</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text">MYR</span> </div>
                                            <input type="text" class="form-control" data-bv-field="youSend" id="youSend" oninput="convertToNepaliCurrency()" value="1" placeholder="">
                                            <div class="input-group-append">
                                                <span class="input-group-text p-0">
                                                    <select id="youSendCurrency" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                                                        <optgroup label="Popular Currency">
                                                            <option data-icon="currency-flag currency-flag-myr mr-1" data-subtext="Malaysian ringgit" value="">MYR</option>
                                                            <option selected="selected" data-icon="currency-flag currency-flag-npr mr-1" data-subtext="Nepalese rupee" value="">NPR</option>
                                                            <option data-icon="currency-flag currency-flag-inr mr-1" data-subtext="Indian rupee" value="">INR</option>
                                                        </optgroup>
                                                        <option data-divider="true"></option>
                                                        <optgroup label="Other Currency">
                                                            <option data-icon="currency-flag currency-flag-aed mr-1" data-subtext="United Arab Emirates dirham" value="">AED</option>
                                                            <option data-icon="currency-flag currency-flag-ars mr-1" data-subtext="Argentine peso" value="">ARS</option>
                                                            <option data-icon="currency-flag currency-flag-aud mr-1" data-subtext="Australian dollar" value="">AUD</option>
                                                            <option data-icon="currency-flag currency-flag-bdt mr-1" data-subtext="Bangladeshi taka" value="">BDT</option>
                                                            <option data-icon="currency-flag currency-flag-bgn mr-1" data-subtext="Bulgarian lev" value="">BGN</option>
                                                            <option data-icon="currency-flag currency-flag-brl mr-1" data-subtext="Brazilian real" value="">BRL</option>
                                                            <option data-icon="currency-flag currency-flag-cad mr-1" data-subtext="Canadian dollar" value="">CAD</option>
                                                            <option data-icon="currency-flag currency-flag-chf mr-1" data-subtext="Swiss franc" value="">CHF</option>
                                                            <option data-icon="currency-flag currency-flag-clp mr-1" data-subtext="Chilean peso" value="">CLP</option>
                                                            <option data-icon="currency-flag currency-flag-cny mr-1" data-subtext="Chinese yuan" value="">CNY</option>
                                                            <option data-icon="currency-flag currency-flag-czk mr-1" data-subtext="Czech koruna" value="">CZK</option>
                                                            <option data-icon="currency-flag currency-flag-dkk mr-1" data-subtext="Danish krone" value="">DKK</option>
                                                            <option data-icon="currency-flag currency-flag-egp mr-1" data-subtext="Egyptian pound" value="">EGP</option>
                                                            <option data-icon="currency-flag currency-flag-eur mr-1" data-subtext="Euro" value="">EUR</option>
                                                            <option data-icon="currency-flag currency-flag-gbp mr-1" data-subtext="British pound" value="">GBP</option>
                                                            <option data-icon="currency-flag currency-flag-gel mr-1" data-subtext="Georgian lari" value="">GEL</option>
                                                            <option data-icon="currency-flag currency-flag-ghs mr-1" data-subtext="Ghanaian cedi" value="">GHS</option>
                                                            <option data-icon="currency-flag currency-flag-hkd mr-1" data-subtext="Hong Kong dollar" value="">HKD</option>
                                                            <option data-icon="currency-flag currency-flag-hrk mr-1" data-subtext="Croatian kuna" value="">HRK</option>
                                                            <option data-icon="currency-flag currency-flag-huf mr-1" data-subtext="Hungarian forint" value="">HUF</option>
                                                            <option data-icon="currency-flag currency-flag-idr mr-1" data-subtext="Indonesian rupiah" value="">IDR</option>
                                                            <option data-icon="currency-flag currency-flag-ils mr-1" data-subtext="Israeli shekel" value="">ILS</option>
                                                            <option data-icon="currency-flag currency-flag-inr mr-1" data-subtext="Indian rupee" value="">INR</option>
                                                            <option data-icon="currency-flag currency-flag-jpy mr-1" data-subtext="Japanese yen" value="">JPY</option>
                                                            <option data-icon="currency-flag currency-flag-kes mr-1" data-subtext="Kenyan shilling" value="">KES</option>
                                                            <option data-icon="currency-flag currency-flag-krw mr-1" data-subtext="South Korean won" value="">KRW</option>
                                                            <option data-icon="currency-flag currency-flag-lkr mr-1" data-subtext="Sri Lankan rupee" value="">LKR</option>
                                                            <option data-icon="currency-flag currency-flag-mad mr-1" data-subtext="Moroccan dirham" value="">MAD</option>
                                                            <option data-icon="currency-flag currency-flag-mxn mr-1" data-subtext="Mexican peso" value="">MXN</option>
                                                            <option selected="selected" data-icon="currency-flag currency-flag-myr mr-1" data-subtext="Malaysian ringgit" value="">MYR</option>
                                                            <option data-icon="currency-flag currency-flag-ngn mr-1" data-subtext="Nigerian naira" value="">NGN</option>
                                                            <option data-icon="currency-flag currency-flag-nok mr-1" data-subtext="Norwegian krone" value="">NOK</option>
                                                            <option data-icon="currency-flag currency-flag-npr mr-1" data-subtext="Nepalese rupee" value="">NPR</option>
                                                            <option data-icon="currency-flag currency-flag-nzd mr-1" data-subtext="New Zealand dollar" value="">NZD</option>
                                                            <option data-icon="currency-flag currency-flag-pen mr-1" data-subtext="Peruvian nuevo sol" value="">PEN</option>
                                                            <option data-icon="currency-flag currency-flag-php mr-1" data-subtext="Philippine peso" value="">PHP</option>
                                                            <option data-icon="currency-flag currency-flag-pkr mr-1" data-subtext="Pakistani rupee" value="">PKR</option>
                                                            <option data-icon="currency-flag currency-flag-pln mr-1" data-subtext="Polish złoty" value="">PLN</option>
                                                            <option data-icon="currency-flag currency-flag-ron mr-1" data-subtext="Romanian leu" value="">RON</option>
                                                            <option data-icon="currency-flag currency-flag-rub mr-1" data-subtext="Russian rouble" value="">RUB</option>
                                                            <option data-icon="currency-flag currency-flag-sek mr-1" data-subtext="Swedish krona" value="">SEK</option>
                                                            <option data-icon="currency-flag currency-flag-sgd mr-1" data-subtext="Singapore dollar" value="">SGD</option>
                                                            <option data-icon="currency-flag currency-flag-thb mr-1" data-subtext="Thai baht" value="">THB</option>
                                                            <option data-icon="currency-flag currency-flag-try mr-1" data-subtext="Turkish lira" value="">TRY</option>
                                                            <option data-icon="currency-flag currency-flag-uah mr-1" data-subtext="Ukrainian hryvnia" value="">UAH</option>
                                                            <option data-icon="currency-flag currency-flag-ugx mr-1" data-subtext="Ugandan shilling" value="">UGX</option>
                                                            <option data-icon="currency-flag currency-flag-vnd mr-1" data-subtext="Vietnamese dong" value="">VND</option>
                                                            <option data-icon="currency-flag currency-flag-zar mr-1" data-subtext="South African rand" value="">ZAR</option>
                                                        </optgroup>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipientGets">Recipient Gets</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text">NPR</span> </div>
                                            <input type="text" class="form-control" data-bv-field="recipientGets" id="recipientGets" readonly placeholder="">
                                            <div class="input-group-append">
                                                <span class="input-group-text p-0">
                                                    <select id="recipientCurrency" data-style="custom-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                                                        <optgroup label="Popular Currency">
                                                            <option data-icon="currency-flag currency-flag-myr mr-1" data-subtext="Malaysian ringgit" value="">MYR</option>
                                                            <option selected="selected" data-icon="currency-flag currency-flag-npr mr-1" data-subtext="Nepalese rupee" value="">NPR</option>
                                                            <option data-icon="currency-flag currency-flag-inr mr-1" data-subtext="Indian rupee" value="">INR</option>
                                                        </optgroup>
                                                        <option data-divider="true"></option>
                                                        <optgroup label="Other Currency">
                                                            <option data-icon="currency-flag currency-flag-aed mr-1" data-subtext="United Arab Emirates dirham" value="">AED</option>
                                                            <option data-icon="currency-flag currency-flag-ars mr-1" data-subtext="Argentine peso" value="">ARS</option>
                                                            <option data-icon="currency-flag currency-flag-aud mr-1" data-subtext="Australian dollar" value="">AUD</option>
                                                            <option data-icon="currency-flag currency-flag-bdt mr-1" data-subtext="Bangladeshi taka" value="">BDT</option>
                                                            <option data-icon="currency-flag currency-flag-bgn mr-1" data-subtext="Bulgarian lev" value="">BGN</option>
                                                            <option data-icon="currency-flag currency-flag-brl mr-1" data-subtext="Brazilian real" value="">BRL</option>
                                                            <option data-icon="currency-flag currency-flag-cad mr-1" data-subtext="Canadian dollar" value="">CAD</option>
                                                            <option data-icon="currency-flag currency-flag-chf mr-1" data-subtext="Swiss franc" value="">CHF</option>
                                                            <option data-icon="currency-flag currency-flag-clp mr-1" data-subtext="Chilean peso" value="">CLP</option>
                                                            <option data-icon="currency-flag currency-flag-cny mr-1" data-subtext="Chinese yuan" value="">CNY</option>
                                                            <option data-icon="currency-flag currency-flag-czk mr-1" data-subtext="Czech koruna" value="">CZK</option>
                                                            <option data-icon="currency-flag currency-flag-dkk mr-1" data-subtext="Danish krone" value="">DKK</option>
                                                            <option data-icon="currency-flag currency-flag-egp mr-1" data-subtext="Egyptian pound" value="">EGP</option>
                                                            <option data-icon="currency-flag currency-flag-eur mr-1" data-subtext="Euro" value="">EUR</option>
                                                            <option data-icon="currency-flag currency-flag-gbp mr-1" data-subtext="British pound" value="">GBP</option>
                                                            <option data-icon="currency-flag currency-flag-gel mr-1" data-subtext="Georgian lari" value="">GEL</option>
                                                            <option data-icon="currency-flag currency-flag-ghs mr-1" data-subtext="Ghanaian cedi" value="">GHS</option>
                                                            <option data-icon="currency-flag currency-flag-hkd mr-1" data-subtext="Hong Kong dollar" value="">HKD</option>
                                                            <option data-icon="currency-flag currency-flag-hrk mr-1" data-subtext="Croatian kuna" value="">HRK</option>
                                                            <option data-icon="currency-flag currency-flag-huf mr-1" data-subtext="Hungarian forint" value="">HUF</option>
                                                            <option data-icon="currency-flag currency-flag-idr mr-1" data-subtext="Indonesian rupiah" value="">IDR</option>
                                                            <option data-icon="currency-flag currency-flag-ils mr-1" data-subtext="Israeli shekel" value="">ILS</option>
                                                            <option data-icon="currency-flag currency-flag-inr mr-1" data-subtext="Indian rupee" value="">INR</option>
                                                            <option data-icon="currency-flag currency-flag-jpy mr-1" data-subtext="Japanese yen" value="">JPY</option>
                                                            <option data-icon="currency-flag currency-flag-kes mr-1" data-subtext="Kenyan shilling" value="">KES</option>
                                                            <option data-icon="currency-flag currency-flag-krw mr-1" data-subtext="South Korean won" value="">KRW</option>
                                                            <option data-icon="currency-flag currency-flag-lkr mr-1" data-subtext="Sri Lankan rupee" value="">LKR</option>
                                                            <option data-icon="currency-flag currency-flag-mad mr-1" data-subtext="Moroccan dirham" value="">MAD</option>
                                                            <option data-icon="currency-flag currency-flag-mxn mr-1" data-subtext="Mexican peso" value="">MXN</option>
                                                            <option data-icon="currency-flag currency-flag-myr mr-1" data-subtext="Malaysian ringgit" value="">MYR</option>
                                                            <option data-icon="currency-flag currency-flag-ngn mr-1" data-subtext="Nigerian naira" value="">NGN</option>
                                                            <option data-icon="currency-flag currency-flag-nok mr-1" data-subtext="Norwegian krone" value="">NOK</option>
                                                            <option selected="selected" data-icon="currency-flag currency-flag-npr mr-1" data-subtext="Nepalese rupee" value="">NPR</option>
                                                            <option data-icon="currency-flag currency-flag-nzd mr-1" data-subtext="New Zealand dollar" value="">NZD</option>
                                                            <option data-icon="currency-flag currency-flag-pen mr-1" data-subtext="Peruvian nuevo sol" value="">PEN</option>
                                                            <option data-icon="currency-flag currency-flag-php mr-1" data-subtext="Philippine peso" value="">PHP</option>
                                                            <option data-icon="currency-flag currency-flag-pkr mr-1" data-subtext="Pakistani rupee" value="">PKR</option>
                                                            <option data-icon="currency-flag currency-flag-pln mr-1" data-subtext="Polish złoty" value="">PLN</option>
                                                            <option data-icon="currency-flag currency-flag-ron mr-1" data-subtext="Romanian leu" value="">RON</option>
                                                            <option data-icon="currency-flag currency-flag-rub mr-1" data-subtext="Russian rouble" value="">RUB</option>
                                                            <option data-icon="currency-flag currency-flag-sek mr-1" data-subtext="Swedish krona" value="">SEK</option>
                                                            <option data-icon="currency-flag currency-flag-sgd mr-1" data-subtext="Singapore dollar" value="">SGD</option>
                                                            <option data-icon="currency-flag currency-flag-thb mr-1" data-subtext="Thai baht" value="">THB</option>
                                                            <option data-icon="currency-flag currency-flag-try mr-1" data-subtext="Turkish lira" value="">TRY</option>
                                                            <option data-icon="currency-flag currency-flag-uah mr-1" data-subtext="Ukrainian hryvnia" value="">UAH</option>
                                                            <option data-icon="currency-flag currency-flag-ugx mr-1" data-subtext="Ugandan shilling" value="">UGX</option>
                                                            <option data-icon="currency-flag currency-flag-vnd mr-1" data-subtext="Vietnamese dong" value="">VND</option>
                                                            <option data-icon="currency-flag currency-flag-zar mr-1" data-subtext="South African rand" value="">ZAR</option>
                                                        </optgroup>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted mb-1">Total fees  - <span class="font-weight-500">7.5 MYR</span></p>
                                    <p class="text-muted">
                                        The current exchange rate is <span class="font-weight-500">1 MYR = <span id="currentRate">...</span> NPR</span>
                                    </p>
                                    <a class="btn btn-primary btn-block" asp-area="Admin" asp-controller="Transaction" asp-action="Transfer">Continue</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Send/Request Money End -->
    <!-- Why choose us
    ============================================= -->
    <section class="section bg-white">
        <div class="container">
            <h2 class="text-9 text-center text-uppercase font-weight-400">Why choose us?</h2>
            <p class="text-4 text-center font-weight-300 mb-5">Here’s Top 4 reasons why using a Payyed account for manage your money.</p>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-hand-pointer"></i> </div>
                                <h3 class="font-weight-400">Easy to use</h3>
                                <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-share"></i> </div>
                                <h3 class="font-weight-400">Faster Payments</h3>
                                <p>Persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-dollar-sign"></i> </div>
                                <h3 class="font-weight-400">Lower Fees</h3>
                                <p>Essent lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle"> <i class="fas fa-lock"></i> </div>
                                <h3 class="font-weight-400">100% secure</h3>
                                <p>Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why choose us End -->
    <!-- How it works
    ============================================= -->
    <section class="section">
        <div class="container">
            <h2 class="text-9 text-center text-uppercase font-weight-400">As simple as 1-2-3</h2>
            <p class="text-4 text-center font-weight-300 mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="row">
                <div class="col-sm-4 mb-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon text-dark shadow-none border-bottom"><span class="w-100 text-20 font-weight-500">1</span></div>
                        <h3 class="mb-3">Sign Up Your Account</h3>
                        <p class="text-3 font-weight-300">Sign up for your free personal/business Account in fea a minute.</p>
                    </div>
                </div>
                <div class="col-sm-4 mb-4">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon text-dark shadow-none border-bottom"><span class="w-100 text-20 font-weight-500">2</span></div>
                        <h3 class="mb-3">Send & Receive Money</h3>
                        <p class="text-3 font-weight-300">Receive & Send Payments from worldwide in 40 currencies.</p>
                    </div>
                </div>
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <div class="featured-box style-4">
                        <div class="featured-box-icon text-dark shadow-none border-bottom"><span class="w-100 text-20 font-weight-500">3</span></div>
                        <h3 class="mb-3">Withdraw Funds</h3>
                        <p class="text-3 font-weight-300">Your funds will be transferred to your local bank account.</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-2"><a class="btn btn-primary" asp-controller="Account" asp-action="Login">Open a Free Account</a></div>
        </div>
    </section>
    <section class="section bg-white">
        <div class="container">
            <h2 class="text-9 text-center text-uppercase font-weight-400">What can you do?</h2>
            <p class="text-4 text-center font-weight-300 mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-4">
                    <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-share-square"></i> </div>
                            <h3>Send Money</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-check-square"></i> </div>
                            <h3>Receive Money</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-user-friends"></i> </div>
                            <h3>Pay a Friend</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <a href="#">
                        <div class="featured-box style-5 rounded">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-shopping-bag"></i> </div>
                            <h3>Online Shopping</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more can you do<i class="fas fa-chevron-right text-2 ml-2"></i></a></div>
        </div>
    </section>
</div>
<script src="~/js/exchangerate.js"></script>